* {
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    width: 100%;
}

header {
    display: flex;
    padding-left: 25px;
    padding-top: 20px;
    text-align: center;
    float: left;
    margin-bottom: 75px;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

main {
    padding-top: 225px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* HEADER */
.logo {
    padding-top: 35px;
}


/* NAVBAR */
.navbarTop {
    width: max-content;
    padding-left: 250px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9b3;
    margin-left: -90px;
}

.navbarTop_Links {
    text-align: center;
    text-transform: uppercase;
}

.navbarTop_Links_Ul {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}

.navbarTop_Links_Ul li {
    margin-right: 25px;
    color: #979797;
}

.navbarTop_Links_Ul a {
    color: #979797;
}

.navbarTop_Links_Ul a:hover {
    color: green;
    font-weight: bold;
}

.navbarTop_Links_Ul img {
    max-width: 50px;
    min-width: 50px;
}

.navbarBottom {
    display: flex;
    margin-top: 25px;
    padding-left: 35px;
}

.searchbar {
    display: flex;
    background-color: #d9d9d940;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding-left: 15px;

}

.searchbar input {
    background-color: #d9d9d900;
    border: none;
    margin-left: 15px;
    width: 575px;
}

.searchbar img {
    max-width: 17px;
    min-width: 17px;
}

.menuIcon {
    margin-left: 30px;
}


/* CONTENT */
.content {
    padding: 25px 0px 25px 0px;
}

.content_Title {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #079404;
    padding-left: 20px;
}

.content_Subtitle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 15px;
}


/* CONSULTAS */
.content_Consultas {
    margin-right: 50px;
}

.content_ConsultasAgendadas {
    display: flex;
    padding-left: 15px;
    margin-top: 10px;
}

.content_FormAgendar {
    vertical-align: top;
}

.content_ConsultasHistorico {
    padding-left: 15px;
    margin-top: 10px;
}

.btn_Agendar {
    border: none;
    background-color: #079404;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn_Cancelar {
    border: 3px solid red;
    color: red;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;
}

.btn_Cancelar:hover {
    color: white;
    background-color: red;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn_Historico {
    border: none;
    background-color: #079404;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}

#historicoConsultas {
    display: none;
}


/* FOOTER */
footer {
    background-color: #079404;
    padding: 20px;
    color: white;
    font-weight: 500;
    list-style: none;
}

.footer1 {
    display: flex;
    padding-top: 10px;
}

.footer_title {
    font-weight: 300;
    text-decoration: underline;
}

.footer_link {
    margin-top: 10px;
}

footer a {
    color: white;
    font-weight: 600;
}

footer a:hover {
    font-weight: normal;
    text-decoration: underline;
}

.footer_socials {
    margin-left: 100px;
}

.footer_socials p {
    font-weight: 300;
    text-decoration: underline;
}

.footer_socials_icons {
    margin-right: 15px;
}

.footer_socials_icon {
    margin-top: 15px;
    display: flex;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px
}

.footer_logo {
    margin-left: 400px;
    margin-top: -25px;
}

.footer_logo img {
    width: 150px;
    height: 165px;
}

.footer2 {
    margin-top: 15px;
    border-top: 1px solid white;
    padding-top: 15px;
    text-align: center;
}

.btn_Voltar {
    background-color: #4CAF50; /* Cor do fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Display inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 4px; /* Bordas arredondadas */
    border: none; /* Remover borda */
  }
  
  .btn_Voltar:hover {
    background-color: #45a049; /* Cor do fundo ao passar o mouse */
  }
  